.button{
    background-color: #81a1c1;
    border: none;
    color: #d8dee9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
    background-color: #5e81ac;
}
iframe{
    max-width: 100%;
}
body{
    background-color:#2e3440;
    font-family: 'M PLUS 2', sans-serif;
    line-height: 20px;
    color: #d8dee9;
}
h1{
    font-weight: 700;
}